<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>add page
    </title>
  </head>

  <body>
    <div class="container">
      <div class="blog-header">
        <h1 class="blog-title">Add Entry</h1>
        </div>
      <div class="row">
        <div class="col-sm-8 blog-main">
          <form method="POST" action="/add">
            <div class="form-group">


            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" id="title">
            </div>
            <div class="form-group">

              <label for="content">content</label>
              <textarea rows="5" class="form-control" name="content" id="content"></textarea>
            </div>
          <button type="submit" class="btn btn-primary"></button>
          </form>

        </div>

      </div>

    </div>
  </body>
</html>
