<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>记忆宫殿-首页</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/cover.css" rel="stylesheet">
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="index">主页</a>
                <a class="nav-link" href="introduce">产品介绍</a>
                <a class="nav-link" href="listblog">搜索范围</a>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">记忆宫殿</h1>
            <p> </p>
            <p class="lead">定制信息渠道，搜索精准信息，减轻认知负荷。</p>
            <p class="lead">信息洪流时代创建你的记忆宫殿。</p>
            <p class="lead">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="开智学堂..." aria-label="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-lg btn-primary btn-block" type="submit">Go!</button>


                  <form action="/" method="post" >
                  <input name="action" type="submit" value="老阳说" class="btn btn-lg btn-primary btn-block" >
                </form>
                  </span>

              </div>
            </p>

             <p style="color:white" >{{ article }}</p>

          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Copy right for <a href="#">黑骑士</a>, by <a href="#">@开智学堂python基础班第四期</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
<p> this is just for test i want to known</p>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="static/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="static/js/vendor/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
